<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <title>My HTML Page</title>
</head>
<body>
<header>
    <h1>Welcome to My Page</h1>
</header>
<main>
    <p th:text="'Time on the server is ' + ${theDate}" class="fun" />
</main>
<footer>
    <p>© 2023 My Website</p>
</footer>
</body>
</html>
